<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rocket Labs Prueba</title>
</head>

<body>

    <div id="app">

        <p>Search for a user:</p>

        <input type="text" v-model="query">

        <button v-on:click="submitClick">Search</button>

        <p v-show="emptyErr">Please input a name; field can't be blank.</p>

        <br>

        <div v-show="cleanArr.length > 0">

            <div v-for="user in cleanArr">

                <img v-bind:src="user.avatar" alt="">
                <p>Following: {{user.following.length}}</p>
                <p>Followers: {{user.followers.length}}</p>
                <p>Repos: {{user.repos.length}}</p>
            
            </div>

        </div>

    </div>
    
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="main.js"></script>
</html>