<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">

    <title>Rocket Labs Prueba</title>
</head>

<body>

    <div id="app">

        <p><strong>Search for a user:</strong></p>

        <input type="text" v-model="query">

        <button v-on:click="submitClick">Search</button>

        <br>

        <p id="err" v-show="emptyErr">Please input a name; field can't be blank.</p>

        <br>

        <div v-show="cleanArr.length > 0">

            <div>

                <p>Show users named {{query}} with: </p>

                <button v-on:click="innerButtons" id="1">Less than 10 followers</button>

                <button v-on:click="innerButtons" id="2">Between 10 and 100 followers</button>

                <button v-on:click="innerButtons" id="3">More than 100 followers</button>

            </div>

            <hr>

            <div v-for="user in cleanArr">

                <div class="card">

                    <img class="pics" v-bind:src="user.avatar" alt="user.key" style="width:100%">

                        <div class="container">
                            <p><strong>{{user.login}}</strong></p>
                            <p>Following: {{user.following}}</p>
                            <p>Followers: {{user.followers}}</p>
                            <p>Repos: {{user.repos}}</p>
                        </div>

                </div>

                <br>
            
            </div>

        </div>

    </div>
    
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="bundle.js"></script>

</html>