<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rocket Labs Prueba</title>
</head>

<body>

    <div id="app">

        <p>Search for a user:</p>

        <input type="text" v-model="query">

        <button v-on:click="submitClick">Search</button>

        <br>

        <p v-show="emptyErr">Please input a name; field can't be blank.</p>

        <br>

        <div v-show="cleanArr.length > 0">

            <div>

                <p>Show users named {{query}} with: </p>

                <button v-on:click="lessThan10Button">Less than 10 followers</button>

                <button>Between 10 and 100 followers</button>

                <button>More than 100 followers</button>

            </div>

            <hr>

            <div v-for="user in cleanArr">

                <img v-bind:src="user.avatar" alt="user.key">
                <p><strong>{{user.login}}</strong></p>
                <p>Following: {{user.following}}</p>
                <p>Followers: {{user.followers}}</p>
                <p>Repos: {{user.repos}}</p>
            
            </div>

        </div>

        <!-- <div v-show="lessThan10.length > 0">

            <div v-for="user in lessThan10">

                <div>

                    <p>Show users with: </p>
            
                    <button v-on:click="lessThan10Button">Less than 10 followers</button>
            
                    <button>Between 10 and 100 followers</button>
            
                    <button>More than 100 followers</button>
            
                </div>
            
                <hr>

                <img v-bind:src="user.avatar" alt="">
                <p>Following: {{user.following}}</p>
                <p>Followers: {{user.followers}}</p>
                <p>Repos: {{user.repos}}</p>
            
            </div>

        </div>

        <div v-show="notFound">

            <div>

                <p>Show users with: </p>
                
                <button v-on:click="lessThan10Button">Less than 10 followers</button>
                
                <button>Between 10 and 100 followers</button>
                
                <button>More than 100 followers</button>
                
            </div>

            <p>No users found</p>

        </div> -->

    </div>
    
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="main.js"></script>
</html>